.c-button {
  &_wrap {
    @include flex-layout;

    %buttonFillCommon {
      display: block;
      width: 100%;
      text-align: center;
      border: 0;
      @include link-colors($white,$white);
      @include font-def-bold;
      line-height: 1;
      &:focus {
        outline: none;
      }
    }

    %buttonStrokeCommon {
      display: block;
      width: 100%;
      text-align: center;
      line-height: 1;
      border-style: solid;
      border-width: .1rem;
      @include font-def-bold;
    }

    %buttonLarge {
      padding: 1.6rem 0;
      border-radius: 5rem;
      font-size: 1.8rem;
    }

    %buttonMedium {
      padding: 1.3rem 0;
      border-radius: 4rem;
      font-size: 1.8rem;
    }

    %buttonSmall {
      padding: 1.25rem 0;
      border-radius: 2rem;
      font-size: 1.2rem;
      letter-spacing: .05em;
    }
  }

  &--fillGreen {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $clover-green;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $clover-green;
    }
    &S {
      @extend %buttonFillCommon;
      @extend %buttonSmall;
      background: $clover-green;
    }
  }

  &--fillPink {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $clover-pink;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $clover-pink;
    }
    &S {
      @extend %buttonFillCommon;
      @extend %buttonSmall;
      background: $clover-pink;
    }
  }

  &--fillBrown {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $clover-brown;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $clover-brown;
    }
  }

  &--fillYellow {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $yellow;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $yellow;
    }
  }

  &--fillGray {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $gray_04;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $gray_04;
    }
    &S {
      @extend %buttonFillCommon;
      @extend %buttonSmall;
      background: $gray_04;
    }
  }

  &--fillBlue {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $blue;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $blue;
    }
    &S {
      @extend %buttonFillCommon;
      @extend %buttonSmall;
      background: $blue;
    }
  }

  &--cancelGray {
    &L {
      @extend %buttonFillCommon;
      @extend %buttonLarge;
      background: $gray_03;
    }
    &M {
      @extend %buttonFillCommon;
      @extend %buttonMedium;
      background: $gray_03;
    }
    &S {
      @extend %buttonFillCommon;
      @extend %buttonSmall;
      background: $gray_03;
    }
  }

  &--strokeOrange {
    &M {
      @extend %buttonStrokeCommon;
      @extend %buttonMedium;
      @include link-colors($clover-orange,$clover-orange);
    }
  }

  &--strokeGray {
    &L {
      @extend %buttonStrokeCommon;
      @extend %buttonLarge;
      @include link-colors($gray_03,$gray_03);
    }
    &M {
      @extend %buttonStrokeCommon;
      @extend %buttonMedium;
      @include link-colors($gray_03,$gray_03);
    }
  }
}
